/* dimensione over xs */

@media screen and (min-width: 500px) {
    :root{
        --lateralmenu-width: 100px;
    }

    /* .menu-bar{
        align-items: center;
    } */

    .playlist{
        display: block;
    }

    .navigation ul{
        width: 50%;
    }

    .logo-leftmenu{
        width: 50%;
    }
}