/* dimensione over xs */

@media screen and (min-width: 552px) {
    :root{
        --lateralmenu-width: 150px;
    }


    .logo-leftmenu{
        display: none;
    }

    .biglogo-leftmenu{
        display: block;
        width: 100%;
       
    }

    .playlist{
        display: block;
    }

    .left-logolist p{
        display: block;
        font-size: small;
        
    }

    
}


/* DMENSIONE MINIMA 768PX */

@media screen and (min-width: 768px) {

    .music-card{
        width: 20%;
    }

    
}


/* DIMENSIONE MINIMA 1000 */

@media screen and (min-width: 1000px) {

    .music-card{
        width: 14%;
    }
    
}