/* ROOT */
:root{
    --mediabar-height: 85px;
    --lateralmenu-width: 40px;
    --header-height: 75px;
}

/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 100%;
}

/* WRAP SECTION */

.wrap{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    /* debug */
    background-color: aqua;
}


.music-section{
    height: calc(100vh - var(--mediabar-height));
    width: 100%;
    display: flex;
   
}

/* MENU BAR */
.menu-bar{
    width: var(--lateralmenu-width);
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 6px;
    color: white;
    justify-content: space-between;
    padding-left: 10px;  /*  chiedere il malfunzionamento di align items */
}

.logo-leftmenu{
    width: 70%;
    margin-bottom: 10px;
    height: 10%;
}

.biglogo-leftmenu{
    display: none;
    margin-bottom: 10px;
    height: 10%;  /*chiedere perchè non cresce il big logo all'aumentare delle dimensioni*/
    
}

.navigation ul{
    width: 70%;
    list-style-type: none;
    height: 30%;
}

.playlist{
    display: none;
    height: 50%;
}

.playlist-name ul{
    width: 70%;
    list-style-type: none;
    font-size: 10px;

}


.users-account{
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: column;
    
}

.users-account hr{
    margin-bottom: 5px;
}

/* CAROSELLO-HEADER */

.right-section{
    width: calc(100% - var(--lateralmenu-width));
    display:flex;
    flex-wrap: wrap;
}

.header{
    height: var(--header-height);
    width: 100%;
    background-color: rgb(24, 24, 33);
    justify-content: end;
    display: flex;
    align-items: center;
}

.header a{
    background-color: rgb(24, 24, 33);
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding: 10px;
    font-size: 8px;
    margin-right: 10px;
    

}

.carosello{
    height: calc(100% - var(--header-height));
    width: 100%;
    overflow-y: auto;
    background-color: rgb(35,39,47);
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 20px;
}

.chooseforyou ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: rgb(105, 107,113);
    font-weight: bold;
    list-style-type: none;  
    gap: 10px;
    font-size: 10px;
    justify-content: center;
    margin-bottom: 25px;

}


.recently-played{
    margin-bottom: 30px; /*chiedere il perchè le immagini non sono allineate probabilmente è dovuto al gap chiedere consiglio*/
}


.recently-played h2{
    color: white;
    margin-bottom: 15px;
}

.album-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.music-card{
        max-width: 45%;
        display: flex;
        flex-wrap: wrap;
        color: white;
        margin-bottom: 10px;
}


.music-card h4{
    margin-top: 10px;
    margin-bottom: 10px;
}

.music-card p{
    color: rgb(105, 107,113);
}

/* CREATED FOR */
.created-for{
    color: white;
    margin-bottom: 30px;
}

.created-for h2{
    color: white;
    margin-bottom: 5px;
}

.created-for h5{
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(105, 107,113);

}

.created-for-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

/* POPULAR ARTIST */
.popular-artist{
    color: white;
    margin-bottom: 15px;
    gap: 10px;
}

.popular-artist h2{
    color: white;
    margin-bottom: 5px;
}

.popular-artist h5{
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(105, 107,113);
}

.popular-artist-section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.circle-tumbnail{
    border-radius: 50%;
    border: 3px solid white;
    object-fit: cover;
}

    /* MEDIABAR */
.mediabar-section{
    height: var(--mediabar-height);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 15px; 
    background-color: rgb(49, 49, 49);
}


/* MINI TUMBNAIL */
.music-icon{
    width: 20%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.small-tumbnail{
    width: 50%;
    display: flex;
    gap: 5px;
    /* flex-grow: 1; */
}

.small-tumbnail img{
    width: 80%;

}

.minititle{
    width: 20%;
    font-size: 8px;
}

.minititle h5{
    color: white;
}

.minititle p{
    color: rgb(105, 107,113) ;
    font-size: 6px;
}

.logo-list{
    width: 50%;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-size: smaller;
    justify-content: space-around ;
    color: rgb(105, 107,113) ;
}


/* PROGRESS BAR */
.progressbar{
    width: 55%;
    display: flex;
    flex-direction: column;
    color: white;
}

.comand ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    /* choedere come ridurre lo spazio tra gli elementi dei bottoni */
}

.comand ul li:nth-child(3){
    font-size: 30px;
}

.timebar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    max-width: 100%;
}

.timebar p{
    font-size: 10px;
}

.start{
    width: 10%;
}

.end{
    width: 10%;
}

.line-off{
    height: 3px;
    /* width: 450px;  chiedere come correggere la larghezza della barra */
    /* max-width: 100%; */
    background-color: rgb(130, 130, 130);
    
}

/* MENU SECTION */
.menu-section{
    width: 20%;
    display: flex;
    
    align-items: center;
}

.menu-logo{
    width: 50%;
    display: flex;
    align-items: center;
}

.menu-logo ul{
    list-style-type: none;
    display: flex;
    width: 40%;
    font-size: 8px;
    gap: 6px;

}

.menu-logo ul li a{
    color: white;
}

.small-timebar{
    width: 60%;
    height: 5px;
    display: inline-block;
}